#uncomment these keys and change the value
#required active public postgresql db
#DB_HOST=your_dbHost_domain
#DB_USER=your_PUBLIC_DBMS_Account
#DB_PASS=yourdbmspassword
#DB_NAME=dbname
#DB_PORT=portnumber
#DB_SSLMODE=require

#JWT_SECRET=put_random_string_value_here
